.back{
    background: url(https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png&quot;); 
    opacity: 0.4; 
    inset: -200%; 
    width: 400%; 
    height: 400%; 
    position: absolute;
    transform: translateX(-3%) translateY(6%) translateZ(0px);

}